@font-face {
    font-family: "mainfont";
    src: url("font.ttf");
}
@font-face {
    font-family: "header";
    src: url("Lato-Black.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    color: white;
    font-family: "mainfont", serif;
}

#header h1 {
    color: white;
    font-size: 3em;
    font-weight: 400;
    font-family: "header", serif;
}

#header p {
    font-size: 1.7em;
}
#header {
    text-align: center;
    background-color: #0e0e0e;
    padding: 40px 0;
}
#header img {
    height: 175px;
}
#wave {
    width: 100%;
    height: 100px;
    margin: 0;
}
#header-bg {
    width: 100%;
    transform-origin:top;
    transform: scale(1,0.5);
}
#content {
    width: 75%;
    margin: 50px auto;
}
.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.card p {
    margin-block-end: 0;
    color: #d9d9d9;
    text-align:justify;
}
.card h2 {
    color: #1DC5FF;
    font-family: "header", serif;

}
.card img {
    height: 85px;
}
.button {
    color: #1A1A1A;
    background-color: #1DC5FF;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    font-size: 1.4em;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    font-family: "header", serif;
}
.button:hover {
    box-shadow: 0 0 8px 0 #1DC5FF;
}

a {
    text-decoration: none;
}
#footer {
    background-color: #111111;
    padding: 30px;
    text-align: center;
}
#footer p {
    margin-block-end: 0;
}
.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    margin: 0 auto;
    grid-column-gap: 15px;
}
@media only screen and (max-width: 1100px) {
    .card-box {
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 1.3em;
    }
    .card-box p {
        text-align: center;
    }
    .section {
        grid-template-columns: 1fr;
    }
    .button {
        margin-bottom: 15px;
        font-size: 1.8em;
    }
    #footer {
        font-size: 1.5em;
    }
}