@font-face {
    font-family: "mainfont";
    src: url("font.ttf");
    font-display: swap;
}
@font-face {
    font-family: "header";
    src: url("Lato-Black.ttf");
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    color: white;
    font-family: "mainfont", serif;
}

#header h1 {
    color: white;
    font-size: 3em;
    font-weight: 400;
    font-family: "header", serif;
}

#header p {
    font-size: 1.7em;
}
.no-bottom {
    margin-block-end: 0;
}

#header img {
    height: 150px;
}
.wave {
    width: 100%;
    height: 100px;
    margin: 0;
}
#header-bg {
    width: 100%;
    transform-origin:top;
    transform: scale(1,0.5);
}
#header-wrapper {
    width: 100%;
    background-color: #0e0e0e;
    padding: 40px 0;
}
#content, #header {
    width: 75%;
    margin: 50px auto;
}
.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.card p {
    margin-block-end: 0;
    color: #d9d9d9;
    text-align:justify;
}
.card h2 {
    color: #1DC5FF;
    font-family: "header", serif;

}
#join {
    font-size: 1.2rem !important;
}
#gcount {
    color: #1DC5FF;
    font-weight: 700;
}
.card img {
    height: 85px;
}
.button {
    color: #1DC5FF;
    background-color: #1c1c1c;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 1.5em;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    z-index: 600;
}
.button:hover {
    box-shadow: 0 0 8px 0 black;
}

a {
    text-decoration: none;
}
#footer {
    background-color: #111111;
    padding: 30px;
    text-align: center;
}
.section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    z-index: 500;
    position: relative;
}
#bg-texture {
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
    z-index: 0;
    opacity: 0.1;
    -webkit-mask-image: -webkit-gradient(linear,left top, left bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
@media only screen and (max-width: 1625px) {
    #header {
        text-align: center;
    }
    #header img {
        width: 50%;
        height: auto;
    }
    #bg-texture {
        display: none;
    }
    .card-box {
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 1.3em;
    }
    .card-box p {
        text-align: center;
    }
    .section {
        grid-template-columns: 1fr;
    }
    .button {
        margin-bottom: 15px;
        font-size: 1.8em;
    }
    #footer {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) {
    #header img {
        width: 100%;
        height: auto;
    }
}